.login-container{
    display: block;
    background-color: #0f223e;
}

.mat-mdc-card, button{

    border: 2px solid rgb(54, 172, 133) !important;
    border-radius: 30px !important;
    color: white;
}

hr{
    border: solid 1px rgb(54, 172, 133) !important;
}