.login-container{
    display: block;
    font-family: "Montserrat", sans-serif;
}

button{

    border: 2px solid rgb(93, 248, 151) !important;
    border-radius: 30px !important;
    color: white;
    
}

input, textarea{
    background-color: rgb(42, 134, 99);
    border: 2px solid rgb(93, 248, 151) ;
    
}

::placeholder{
    color: whitesmoke;
}

div{
    background-color: #0f223e
}



